<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Tony">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png">
    <link rel="shortcut icon" th:href="@{/img/icons/icon-48x48.png}">
    <link rel="canonical" href="https://demo-basic.adminkit.io/">

    <title>Dashboard</title>

    <link href="/static/css/app.css" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div th:insert="~{fragments/left-menu :: sidebar-content}"></div>
    </nav>
    <div class="main">
        <nav th:insert="~{fragments/top-menu :: nav-bar}"></nav>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row">
                    <div class="col-3 col-lg-2 col-xxl-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title mb-0">ICO-Offerings</h5>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="d-none d-xl-table-cell">Offering Price</th>
                                    <th>Offering Shares</th>
                                    <th class="d-none d-md-table-cell">ICO Date</th>
                                    <th class="d-none d-md-table-cell">Listing Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">ENSOFINANCE</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell"> -</td>
                                    <td class="d-none d-xl-table-cell"> -</td>
                                    <td class="d-none d-xl-table-cell">APRIL 2022</td>
                                    <td class="d-none d-xl-table-cell"> -</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">GOLDEN</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell"> -</td>
                                    <td class="d-none d-xl-table-cell"> -</td>
                                    <td class="d-none d-xl-table-cell">APRIL 2022</td>
                                    <td class="d-none d-xl-table-cell"> -</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3 col-lg-2 col-xxl-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title mb-0">IPO-Offerings</h5>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="d-none d-xl-table-cell">Offering Price</th>
                                    <th>Offering Shares</th>
                                    <th class="d-none d-md-table-cell">Listing Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">SOSH</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">4.500~6.50</td>
                                    <td class="d-none d-xl-table-cell">1,590,909</td>
                                    <td class="d-none d-xl-table-cell">04/22/2022</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">JCSE</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">4.000</td>
                                    <td class="d-none d-xl-table-cell">3,750,000</td>
                                    <td class="d-none d-xl-table-cell">04/22/2022</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">ACON</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">4.500~6.50</td>
                                    <td class="d-none d-xl-table-cell">2,000,000</td>
                                    <td class="d-none d-xl-table-cell">04/22/2022</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">SVRE</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">7.22</td>
                                    <td class="d-none d-xl-table-cell">1,385,042</td>
                                    <td class="d-none d-xl-table-cell">04/22/2022</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0">

                <div class="row">
                    <div class="col-3 col-lg-2 col-xxl-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Earnings</h5>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                <tr>
                                    <th>Symbol</th>
                                    <th class="d-none d-xl-table-cell">Release Date</th>
                                    <th>EPS Estimate</th>
                                    <th class="d-none d-md-table-cell">Last Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">SNAP</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">04/21/2022</td>
                                    <td class="d-none d-xl-table-cell">0.0062</td>
                                    <td class="d-none d-xl-table-cell">30.76</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">T</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">04/21/2022</td>
                                    <td class="d-none d-xl-table-cell">0.0062</td>
                                    <td class="d-none d-xl-table-cell">30.76</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">PM</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">04/21/2022</td>
                                    <td class="d-none d-xl-table-cell">1.4917</td>
                                    <td class="d-none d-xl-table-cell">103.05</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">AAL</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">04/21/2022</td>
                                    <td class="d-none d-xl-table-cell">-2.4031</td>
                                    <td class="d-none d-xl-table-cell">19.48</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3 col-lg-2 col-xxl-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Dividend Per Share</h5>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                <tr>
                                    <th>Symbol</th>
                                    <th>Name</th>
                                    <th class="d-none d-xl-table-cell">Dividend Per Share</th>
                                    <th>Ex-Div Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">PTHIY</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">Pt Solusi Bangun Indonesia Tbk</td>
                                    <td class="d-none d-xl-table-cell">0.0891</td>
                                    <td class="d-none d-xl-table-cell">04/21/2022</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/project/golden}">LANDM</a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">Gladstone Ld</td>
                                    <td class="d-none d-xl-table-cell">1.250</td>
                                    <td class="d-none d-xl-table-cell">04/21/2022</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">
                            <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a>
                            &copy;
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="/static/js/app.js"></script>
<script th:src="@{/js/app.js}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 225);
        gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
        gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: "line",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Sales ($)",
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: window.theme.primary,
                    data: [
                        2115,
                        1562,
                        1584,
                        1892,
                        1587,
                        1923,
                        2566,
                        2448,
                        2805,
                        3438,
                        2917,
                        3327
                    ]
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 1000
                        },
                        display: true,
                        borderDash: [3, 3],
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
                labels: ["Chrome", "Firefox", "IE"],
                datasets: [{
                    data: [4306, 3801, 1689],
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar"), {
            type: "bar",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "This year",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                    barPercentage: .75,
                    categoryPercentage: .5
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        stacked: false,
                        ticks: {
                            stepSize: 20
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        gridLines: {
                            color: "transparent"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var markers = [{
            coords: [31.230391, 121.473701],
            name: "Shanghai"
        },
            {
                coords: [28.704060, 77.102493],
                name: "Delhi"
            },
            {
                coords: [6.524379, 3.379206],
                name: "Lagos"
            },
            {
                coords: [35.689487, 139.691711],
                name: "Tokyo"
            },
            {
                coords: [23.129110, 113.264381],
                name: "Guangzhou"
            },
            {
                coords: [40.7127837, -74.0059413],
                name: "New York"
            },
            {
                coords: [34.052235, -118.243683],
                name: "Los Angeles"
            },
            {
                coords: [41.878113, -87.629799],
                name: "Chicago"
            },
            {
                coords: [51.507351, -0.127758],
                name: "London"
            },
            {
                coords: [40.416775, -3.703790],
                name: "Madrid "
            }
        ];
        var map = new jsVectorMap({
            map: "world",
            selector: "#world_map",
            zoomButtons: true,
            markers: markers,
            markerStyle: {
                initial: {
                    r: 9,
                    strokeWidth: 7,
                    stokeOpacity: .4,
                    fill: window.theme.primary
                },
                hover: {
                    fill: window.theme.primary,
                    stroke: window.theme.primary
                }
            },
            zoomOnScroll: false
        });
        window.addEventListener("resize", () => {
            map.updateSize();
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
        var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span title=\"Previous month\">&laquo;</span>",
            nextArrow: "<span title=\"Next month\">&raquo;</span>",
            defaultDate: defaultDate
        });
    });
</script>

</body>
</html>

<!--<div class="col-12 col-lg-4 col-xxl-5 d-flex">-->
<!--    <div class="card flex-fill w-100">-->
<!--        <div class="card-header">-->

<!--            <h5 class="card-title mb-0">Create Order (For 1 Project / If you want to select multiple-->
<!--                projects use this <a th:href="@{/several-order}"> form</a>)</h5>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <form class="row g-3">-->
<!--                <div class="col-md-4">-->
<!--                    <label for="validationServer01" class="form-label">Project Name</label>-->
<!--                    <input type="text" class="form-control is-valid" id="validationServer01"-->
<!--                           placeholder="Ethereum" required="">-->
<!--                    <div class="valid-feedback">-->
<!--                        Looks good!-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <label for="validationServer02" class="form-label">Your name</label>-->
<!--                    <input type="text" class="form-control is-valid" id="validationServer02"-->
<!--                           placeholder="Anthony Stain" required="">-->
<!--                    <div class="valid-feedback">-->
<!--                        Looks good!-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <label for="validationServerUsername" class="form-label">Email</label>-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control is-invalid"-->
<!--                               id="validationServerUsername" aria-describedby="inputGroupPrepend3"-->
<!--                               required="">-->
<!--                        &lt;!&ndash;                                            <span class="input-group-text" id="inputGroupPrepend3">@</span>&ndash;&gt;-->
<!--                        <div class="invalid-feedback">-->
<!--                            Please input your email.-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <label for="validationServer03" class="form-label">ETH Wallet (you send-->
<!--                        us)</label>-->
<!--                    <input type="text" class="form-control is-invalid" id="validationServer03"-->
<!--                           required="">-->
<!--                    <div class="invalid-feedback">-->
<!--                        Please provide a valid wallet.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <label for="validationServer04" class="form-label">Investment Term</label>-->
<!--                    <select class="form-select is-invalid" id="validationServer04" required="">-->
<!--                        <option selected="" disabled="" value="">Choose...</option>-->
<!--                        <option>...</option>-->
<!--                        <option>1 year</option>-->
<!--                        <option>2-3 years</option>-->
<!--                        <option>3-5 years</option>-->
<!--                        <option>5-7 years</option>-->
<!--                        <option>5-10 years</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <label for="validationServer05" class="form-label">Amount (ETH)</label>-->
<!--                    <input type="text" class="form-control is-invalid" id="validationServer05"-->
<!--                           required="">-->
<!--                    <div class="invalid-feedback">-->
<!--                        Please input amount.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-12">-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input is-invalid" type="checkbox" value=""-->
<!--                               id="invalidCheck3" required="">-->
<!--                        <label class="form-check-label" for="invalidCheck3">-->
<!--                            Agree to terms and conditions-->
<!--                        </label>-->
<!--                        <div class="invalid-feedback">-->
<!--                            You must agree before submitting.-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-12">-->
<!--                    <button class="btn btn-primary" type="submit">Submit form</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->